body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color:rgb(150, 6, 6);
    background-color: lightgreen;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border: 5px dashed maroon;
    margin: 50px;
}

h4{
    color: antiquewhite;
    background-color: hsl(3, 93%, 12%);
    padding: 5px;
    border: 5px solid darkblue;
    margin: 5px;
}

body ol{
    background-color: lightpink;
    box-sizing: content-box;
    border: 10px solid maroon;
    margin: 20px;
}